@media screen and (max-width: 576px) {
  /* nav area */
  #header_area nav .navLink {
    display: none;
  }
  nav .hamburger_menu {
    display: block;
  }

  /* banner area */
  #header_area .banner_area {
    flex-direction: column;
  }

  .banner_area .banner_content_box {
    width: 100%;
  }
  .banner_content_box h1 {
    font-size: 3.5em;
  }

  /* banner image box */
  .banner_image_box {
    margin-top: 100px;
  }
  .banner_image_box .shape1 {
    right: 30px;
    bottom: 250px;
  }
  .banner_image_box .shape2 {
    top: -50px;
    right: -20px;
  }

  /* habits section */
  #habits_section .excercises_card {
    grid-template-columns: repeat(1, 1fr);
  }
  #habits_section .excercises_card .card p {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  #habits_section .excercises_card .card img {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .banner_content_box .banner_buttons {
    flex-direction: column;
  }

  .banner_image_box .shape1 {
    right: -30px;
  }
  .banner_image_box .shape2 {
    right: 20px;
    top: 150px;
  }
  .banner_image_box .shape2 {
    padding: 10px 12px;
  }
  .banner_image_box .shape2 h4 {
    font-size: 25px;
  }
}

/* for tablet version */
@media screen and (min-width: 577px) and (max-width: 992px) {
  #habits_section .excercises_card {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }
  #habits_section .excercises_card .card img {
    width: 70%;
  }
}
