/* for small devices */

@media screen and (max-width: 576px) {
  /* nav area */
  #header_area nav .navLink {
    display: none;
  }
  nav .hamburger_menu {
    display: block;
  }

  /* banner area */
  #header_area .banner_area {
    flex-direction: column;
  }

  .banner_area .banner_content_box {
    width: 100%;
  }
  .banner_content_box h1 {
    font-size: 3.5em;
  }

  /* banner image box */
  .banner_image_box {
    margin-top: 100px;
  }
  .banner_image_box .shape1 {
    right: 30px;
    bottom: 250px;
  }
  .banner_image_box .shape2 {
    top: -50px;
    right: -20px;
  }

  /* habits section */
  #habits_section .excercises_card {
    grid-template-columns: repeat(1, 1fr);
  }
  #habits_section .excercises_card .card p {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  #habits_section .excercises_card .card img {
    width: 70%;
  }

  /* run section */

  #run_section .run_container {
    flex-direction: column;
    gap: 60px;
  }

  #run_section .run_section_btn {
    margin-top: 10px;
    width: 100%;
  }

  /* training and exercises */
  .excercise1 {
    grid-column: 1 / 8;
  }
  .excercise2 {
    grid-column: 8 / -1;
  }
  .excercise3 {
    display: none;
  }
  .excercise4 {
    grid-column: -13 / -7;
  }
  .excercise5 {
    grid-column: -7 / -1;
  }
  .excercise6 {
    display: none;
  }
  /* bmi calculator section */

  .calculator_container .main_container {
    flex-direction: column;
  }
  .calculator_container .calculate {
    width: 100%;
    margin-top: 42px;
  }

  /* meet our teem */
  .teem_members {
    grid-template-columns: repeat(1, 1fr);
  }

  /* footer area */
  #footer .footer_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* for tablet version */

@media screen and (min-width: 577px) and (max-width: 992px) {
  #habits_section .excercises_card {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
  }
  #habits_section .excercises_card .card img {
    width: 70%;
  }

  /* run section */

  #run_section .run_container {
    flex-direction: column;
    gap: 100px;
  }

  /* bmi calculator */
  .calculator_container .main_container {
    flex-direction: column;
    gap: 100px;
  }
  .calculator_container .calculate {
    width: 100%;
  }

  .main_container .calculate form {
    grid-template-columns: repeat(2, 1fr);
  }
  .member .trainer_name {
    bottom: 10px;
  }
  .member .trainer_name h4 {
    font-size: 16px;
  }
  /* footer */

  #footer .footer_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_content .brand {
    grid-column: 1/3;
  }
  .footer_content .brand p {
    width: 443px;
  }
}

/* for extra small devices */

@media screen and (max-width: 400px) {
  .banner_content_box .banner_buttons {
    flex-direction: column;
  }

  .banner_image_box .shape1 {
    right: -30px;
  }
  .banner_image_box .shape2 {
    right: 20px;
    top: 150px;
  }
  .banner_image_box .shape2 {
    padding: 10px 12px;
  }
  .banner_image_box .shape2 h4 {
    font-size: 25px;
  }

  .main_container .calculate form {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
