@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgba(255, 255, 255, 0.5);
  --btn-bg-color: rgb(230, 83, 60);
  --dark-gray: rgb(34, 34, 34);
}
.section_heading {
  color: var(--primary-color);
  font-size: 3em;
  font-weight: 900;
  line-height: 120%;
  margin: 14px 0;
  text-align: center;
}
.section_title {
  color: var(--secondary-color);
  font-size: 0.89em;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 14px;
  text-align: center;
}

.btn {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
}
.btn a {
  text-decoration: none;
  display: inline-block;
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  padding: 12px 40px;
}

/* header styles starts here */
#header_area {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom,
    rgb(17, 17, 17),
    rgb(35, 35, 35),
    rgba(136, 136, 136, 0.3),
    rgb(17, 17, 17),
    rgb(17, 17, 17)
  );
}

#header_area nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 57px 0 32px;
}
nav .brand a {
  color: rgb(230, 83, 60);
  font-size: 2.3em;
  font-weight: 800;
  line-height: 120%;
  text-decoration: none;
  font-style: italic;
}
nav .hamburger_menu {
  display: none;
}
nav .hamburger_menu div {
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-color);
  margin-bottom: 3.5px;
}
nav ul {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
  gap: 47px;
}
nav ul li {
  list-style: none;
}
nav ul li:hover a {
  background: rgb(230, 83, 60);
}
nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 20px 8px 20px;
  transition: background-color 0.2s ease-in;
  border-radius: 46px;
}
.active {
  background: rgb(230, 83, 60);
  border-radius: 46px;
}

/*  banner area */
#header_area .banner_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_area .banner_content_box {
  max-width: 520px;
}
.banner_content_box h1 {
  color: var(--primary-color);
  font-size: 4.9em;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
.banner_content_box h1 #shape {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 2em;
}
.banner_content_box p {
  margin: 28px 0;
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.banner_content_box .banner_buttons {
  display: flex;
  gap: 14px;
}
.banner_buttons button:nth-last-child(1) {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
}
.banner_image_box {
  position: relative;
}
.banner_image_box img {
  width: 100%;
}
.banner_image_box .shape1,
.banner_image_box .shape2 {
  display: flex;
  gap: 8px;
  padding: 20px 23px;
  justify-content: space-between;
  max-width: 206px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.banner_image_box .shape1 {
  position: relative;
  bottom: 150px;
  right: 100px;
}
.banner_image_box .shape2 {
  position: absolute;
  top: 110px;
  right: -60px;
}
.banner_image_box .shape1 .ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
}
.banner_image_box .shape1 .text h5 {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.banner_image_box .shape1 .text p,
.banner_image_box .shape2 p {
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.banner_image_box .shape2 {
  flex-direction: column;
}
.banner_image_box .shape2 h4 {
  color: var(--primary-color);
  font-size: 2.5em;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
.banner_image_box .shape2 p {
  font-size: 0.85em;
}

/* habits section */
#habits_section {
  text-align: center;
}

#habits_section .excercises_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3.5em;
  gap: 4em;
}

#habits_section .excercises_card .card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1.89em;
}
#habits_section .excercises_card .card h5 {
  color: var(--primary-color);
  font-size: 1.15em;
  font-weight: 600;
  line-height: 120%;
}
#habits_section .excercises_card .card p {
  color: var(--secondary-color);
  font-size: 0.89em;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  margin: 0.4em 0;
}

/* run section */
#run_section {
  margin-top: 50px;
}
#run_section .run_container {
  background: var(--dark-gray);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

#run_section .run_container .image_box img {
  width: 100%;
  border-radius: 30px;
  float: right;
}

/* training and exercises section  */

#training_section {
  margin: 70px 0;
}

#training_section .training_images_container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#training_section .training_images_container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#training_section .training_images_container > div {
  position: relative;
}

.excercise1 {
  grid-column: 1 / 4;
}
.excercise2 {
  grid-column: 4 / 10;
}
.excercise3 {
  grid-column: 10 / -1;
}
.excercise4 {
  grid-column: -13 / -8;
}
.excercise5 {
  grid-column: -8 / -5;
}
.excercise6 {
  grid-column: -5 / -1;
}
#training_section .training_images_container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay h4 {
  position: absolute;
  color: #fff;
  bottom: 40px;
  left: 20px;
}
.excercise1 .overlay {
  background: rgba(128, 254, 231, 0.4);
}
.excercise2 .overlay {
  background: rgba(213, 35, 29, 0.4);
}
.excercise3 .overlay {
  background: rgba(27, 27, 26, 0.4);
}
.excercise4 .overlay {
  background: rgba(0, 0, 0, 0.4);
}
.excercise5 .overlay {
  background: rgba(79, 194, 17, 0.4);
}
.excercise6 .overlay {
  background: rgba(101, 142, 254, 0.4);
}

/* bmi calculator */
#bmi_calculator_section h1,
#bmi_calculator_section p {
  text-align: center;
}

.calculator_container {
  background: var(--dark-gray);
  padding: 52px 0;
  margin-top: 88px;
}
.calculator_container h3 {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
}

.calculator_container .main_container {
  display: flex;
  justify-content: space-between;
}

.calculator_chart h3,
.main_container .calculate h3 {
  margin-bottom: 52px;
  color: var(--primary-color);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
}

.table table {
  border: 1px solid var(--secondary-color);
}
.table table thead tr td {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
}

.table table {
  border-collapse: collapse;
}
.table table thead td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
}
.table table tbody td {
  color: var(--secondary-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.calculator_container .calculate {
  width: 50%;
}

.main_container .calculate h3 {
  margin-bottom: 14px;
}

.main_container .calculate p {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left !important;
  margin-bottom: 34px;
}
.main_container .calculate form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
}
.main_container .calculate input,
.main_container .calculate select {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 40px 12px 20px;
  border: none;
}
.main_container .calculate select {
  border-right: 15px solid transparent;
}
.factor {
  grid-column: 1/3;
}
.calculate input[type="submit"] {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px;
  border: none;
  color: var(--primary-color);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-align: center;
  margin-top: 34px;
}

/* meet our teem */

#meet_our_teem {
  padding: 88px 0;
}

.teem_container > h1,
.teem_container > p {
  text-align: center;
}

.teem_members {
  margin-top: 58px;
  border-radius: 18px;
  background: var(--dark-gray);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.member {
  position: relative;
}
.member img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
}
.member .trainer_name {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.member .trainer_name h4 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 900;
  margin: 3px 0;
}
.member .trainer_name p {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
}

/* footer */
#footer {
  background: var(--dark-gray);
  padding: 50px 0;
}
#footer .footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.footer_content .brand a {
  color: var(--btn-bg-color);
  text-decoration: none;
  font-style: italic;
  font-size: 70px;
  font-weight: 800;
  line-height: 120%;
}

.footer_content .brand p {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.footer_content .links h3 {
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 39px;
}
.footer_content .links ul li {
  list-style: none;
}
.footer_content .links ul li a {
  color: var(--secondary-color);
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

#footer hr {
  background: var(--secondary-color);
  margin-top: 70px;
}

#footer .copy_right {
  text-align: center;
  color: var(--secondary-color);

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding: 36px 0 0;
}

/* unique section */
/* why chose us */

#why_chose_us {
  padding: 50px 0;
}

#why_chose_us .chose_us_cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#why_chose_us .card {
  color: white;
  padding: 10px;
  text-align: center;
}
#why_chose_us .card .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  background: var(--dark-gray);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-bottom: 20px;
}
#why_chose_us .card:hover .icon i {
  transform: rotate(-45deg);
}
#why_chose_us .card .icon i {
  font-size: 55px;
  color: var(--btn-bg-color);
  transition: all 0.3s;
}

#why_chose_us .card .content p {
  color: var(--secondary-color);
  margin-top: 10px;
}
